<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

 <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="TestSmells"
            visible="true"
            id="org.ufla.tsrefactoring.TestSmells">
         <menu
               label="Test Smells"
               id="BadSmellsMenu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               class="org.ufla.tsrefactoring.actions.TestSmellsMenu"
               icon="icons/bug_red.png"
               id="ConstructorInitialization"              
               label="Constructor Initialization"
               menubarPath="BadSmellsMenu/sampleGroup"
               style="push"
               tooltip="Constructor Initialization">
         </action>
         <action
               class="org.ufla.tsrefactoring.actions.TestSmellsMenu"
               icon="icons/bug_green.png"
               id="IgnoredTest"
               label="Ignored Test"
               menubarPath="BadSmellsMenu/sampleGroup"
               style="push"
               tooltip="Ignored Test">
         </action>
         <action
               class="org.ufla.tsrefactoring.actions.TestSmellsMenu"
               icon="icons/bug_yellow.png"
               id="EmptyTest"
               label="Empty Test"
               menubarPath="BadSmellsMenu/sampleGroup"
               style="push"
               tooltip="Empty Test">
         </action>
         <action
               class="org.ufla.tsrefactoring.actions.TestSmellsMenu"
               icon="icons/bug_blue.png"
               id="RedundantPrint"
               label="Redundant Print"
               menubarPath="BadSmellsMenu/sampleGroup"
               style="push"
               tooltip="Redundant Print">
         </action> 
         <action
               class="org.ufla.tsrefactoring.actions.TestSmellsMenu"
               icon="icons/bug_pink.png"
               id="ResourceOptimism"
               label="Resource Optimism"
               menubarPath="BadSmellsMenu/sampleGroup"
               style="push"
               tooltip="Resource Optimism">
         </action>  
         <action
               class="org.ufla.tsrefactoring.actions.TestSmellsMenu"
               icon="icons/bug_brown.png"
               id="MagicNumber"
               label="Magic Number"
               menubarPath="BadSmellsMenu/sampleGroup"
               style="push"
               tooltip="Magic Number">
         </action>                  
      </actionSet>      
   </extension>
   
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Test Smells"
            id="org.ufla.tsrefactoring">
      </category>
      <view
            category="org.ufla.tsrefactoring"
            class="org.ufla.tsrefactoring.views.ConstructorInitializationView"
            icon="icons/bug_red.png"
            id="org.ufla.tsrefactoring.views.ConstructorInitializationView"
            name="Constructor Initialization"
            inject="true">
      </view>
      <view
            category="org.ufla.tsrefactoring"
            class="org.ufla.tsrefactoring.views.IgnoredTestView"
            icon="icons/bug_green.png"
            id="org.ufla.tsrefactoring.views.IgnoredTestView"
            name="Ignored Test"
            inject="true">
      </view>
      <view
            category="org.ufla.tsrefactoring"
            class="org.ufla.tsrefactoring.views.EmptyTestView"
            icon="icons/bug_yellow.png"
            id="org.ufla.tsrefactoring.views.EmptyTestView"
            name="Empty Test"
            inject="true">
      </view>
      <view
            category="org.ufla.tsrefactoring"
            class="org.ufla.tsrefactoring.views.RedundantPrintView"
            icon="icons/bug_blue.png"
            id="org.ufla.tsrefactoring.views.RedundantPrintView"
            name="RedundantPrint"
            inject="true">
      </view>
      <view
            category="org.ufla.tsrefactoring"
            class="org.ufla.tsrefactoring.views.ResourceOptimismView"
            icon="icons/bug_pink.png"
            id="org.ufla.tsrefactoring.views.ResourceOptimismView"
            name="ResourceOptimism"
            inject="true">
      </view>
      <view
            category="org.ufla.tsrefactoring"
            class="org.ufla.tsrefactoring.views.MagicNumberView"
            icon="icons/bug_brown.png"
            id="org.ufla.tsrefactoring.views.MagicNumberView"
            name="MagicNumber"
            inject="true">
      </view>
     
   </extension>
 
</plugin>
